# Compiled files
*.tfstate
*.tfstate.backup
*.tfvars
*.terraform.*
# logs
*.log
*s3cfg
# zip files
*.zip
**/.terraform.lock.hcl

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/

*.kubeconfig*
